:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-white-color: #ffffff;
    --title-black-color: #000000;
}
body {
    font-family:Roboto, sans-serif;
}
a {
    text-decoration: none;
    
}
ul {
    list-style-type: none;
}

.logo{
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}


header .logo-studio{
    color: var(--title-black-color);
}

footer .logo-studio{
    color: var(--title-white-color);
}


.nav-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
}
.nav-title:visited {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
}
.nav-title.current {
    color: var(--accent-color);
}

.top-mail {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
}
.top-mail:hover {
    color: var(--accent-color);
}
.top-tel {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    color: var(--title-white-color);
    background-color:#2F303A;
    text-align: center;
}

.order-btn {
    background-color: var(--accent-color);
    color:var(--title-white-color);
}
.hidden-descr {
    display: none;
}
.descr h3 {
    font-weight: 700;
    font-size: 14px;
    color: var(--title-text-color);
}
.descr p {
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-text-color);
}
.samples h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    text-align: center;
}
.team h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    text-align: center;
}
.team h3 {
    font-weight: 500;
    font-size: 16px;
    color: var(--title-text-color);
}
.team p {
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-text-color);
}
footer {
    background-color: #2F303A;
}
.gm-adr {
    font-weight: 400;
    font-size: 14px;
    color: var(--title-white-color);
    font-style: normal;
}

.contacts {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.sort button {
    background-color: var(--accent-color);
    color:var(--title-white-color);
}
.galary h2 {
    font-weight: 700;
    font-size: 18px;
    color: var(--title-text-color);
}
.galary p {
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-text-color);
}